// Colors needed in Boostrap:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Nav colors
$dark-purple: #6457A6;
$light-purple: #7D7ABC;

// Issue colors
$coral: #EF767A;
$puce: #C6878F;
$aqua: #1CD8A0;
$slate: #8AA39B;

// Additional colors
$pink: #f26881;
$green: #27AE60;
