// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// brand colors
$pink: #EA526F;
$orange: #FF8A5B;
$beige: #FCEADE;
$emerald: #25CED1;
$green: #27AE60;
