.map-container {
  width: 100%;
  overflow: scroll;
}

.map-image {
  width: 600px;
  height: 600px;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.map-info-container {
  align-content: flex-start;
  margin: 0 auto;
}

.box {
  height: 20px;
  width: 20px;
  border: solid 0.5px pink;
}

.blue {
  background-color: lightblue;
}

.text-pink {
  color: $pink;
}
