.solvers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.solver-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 10px auto;
  padding: 10px 5px;
  border-radius: 15px;
  text-align: center;
  p {
    color: $light-purple;
    margin: 5px auto;
  }
  img {
    margin: 5px auto;
  }
}

.new_issue_solver {
  flex: 1;
  display: flex;
  .btn {
    align-self: flex-end;
    margin: 10px auto;
  }
}
