<div class="main-section">
  <% issues.each do |issue| %>
    <%= link_to issue_messages_path(issue) do %>
      <div class='rounded-card issue-card grey white-text'>
        <div class="subcategory-info">
          <p class="title">
            <%= issue.title %>
          </p>
          <p>
            <%= issue.map.title %>
          </p>
        </div>
        <div class="subcategory-arrow">
          <p>&rang;</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
