<div id="slider-btn-container">
  <a href="#form-slider" role="button" data-slide="next">
    <div class="emerald action-btn">
      <p>Continue</p>
      <span class="sr-only">Next</span>
    </div>
  </a>
</div>
