<div class="map-container">
  <div class="map-image container" style="background-image: url('<%= cl_image_path @map.photo, height: 600, width: 600, background: "white", crop: :pad %>')">
    <% for i in 1..30 do %>
      <div class="row">
      <% for j in 1..30 do %>
        <div class="box" data-row="<%= i %>" data-col="<%= j %>"></div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
