<div class="full-screen-section">
  <%= render 'map_all_issues' %>
  <div class="main-section">
    <div class="map-info-container">
      <h1 class="black-text">Issue location</h1>
      <p class="black-text">Map: <%= @map.title %></p>
    </div>
  </div>
  <div class="btn-container">
    <%= link_to 'Back to Project', project_issues_path(@map.project), class: "navcolor-dark command-btn" %>
  </div>
</div>
