<h1 class="title-center black-text m-3">This week's issues</h1>
<div data-chart="<%= @charts_data.to_json %>" class="chart_container">
    <div class="chart_row">
        <div id="chart_div"></div>
    </div>
</div>

<div class="btn-container">
  <%= link_to 'Back', project_path(@project), class: 'emerald command-btn' %>
</div>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawStacked);

function drawStacked() {
  const chartData = document.querySelector('.chart_container').dataset.chart
    console.log(JSON.parse(chartData))

  var data = google.visualization.arrayToDataTable(JSON.parse(chartData));
  var options = {
    width: 400,
    height: 600,
    legend: { position: 'bottom', maxLines: 2 },
    bar: { groupWidth: '30%' },
    isStacked: true,
    colors: ['#BDC3C7', '#109618', '#FF9900', '#DC3912']
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
  chart.draw(data, options);
  }
</script>
