.rounded-card {
  margin: 5px auto;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-height-100 {
  height: 100px;
}

.img-container-in-card {
  margin: 0 auto;
  overflow: hidden;
  img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
}

.text-container-in-card {
  margin: 0px;
  height: 26px;
  text-align: left;
  border-radius: 0px 0px 20px 20px;
  p {
    padding: 5px 10px;
  }
}

.issue-card {
  height: 80px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  p.title {
    font-weight: 600;
  }
}

.subcategory-info {
  flex: 1;
  p {
    margin: 0;
  }
}

.subcategory-arrow {
  flex: 0;
  p {
    margin: 0 auto;
    font-size: 48px;
    opacity: 0.7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
}

.category-card, .category-card-selected {
  height: 12vh;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.6em;
    margin: 0 auto;
  }
}

.category-card, .subcategory-card {
  background-color: white;
  p {
    color: $pink;
  }
  color: $pink;
}

.category-card-selected, .subcategory-card-selected {
  background-color: $orange;
  p {
    color: $white;
  }
  color: $white;
}

.subcategory-card, .subcategory-card-selected {
  height: 8vh;
  padding: 5px;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items:center;
}

.solver-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.solver_card {
  padding: 10px 5px;
}
