.navbar-lewagon {
  justify-content: space-between;
  background: #FF8A5B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.menu-toggler {
  background-color: transparent;
  border: none;
  padding: 0px;
}

#user-nav-menu {
  a {
    color: white;
    text-transform: uppercase;
  }
}
