// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  padding-top: 57px;
  margin: 0;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
  }
  h1.title-center {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  p{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: white;
  }
  p.title, p.title-center {
    font-weight: 600;
    text-transform: uppercase;
  }
  p.title-center {
    text-align: center;
  }
  a {
    transition: all 0.3s ease 0s;
    color: white;
  }
  a:hover {
    text-decoration: none;
    opacity: 0.75;
    color: white;
  }
}

.full-screen-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.header-section {
  margin: 10px 8vw;
}

.main-section {
  margin: 10px 8vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.side-scroll-container {
  display: flex;
}

.limit-screen-height {
  height: 75vh;
  overflow: scroll;
}

.remove-margin {
  margin: 0;
}

// .hide {
//   display: none;
// }

.emerald {
  background-color: $emerald;
}

.green {
  background-color: $green;
}

.pink {
  background-color: $pink;
}

.orange {
  background-color: $orange;
}

.beige {
  background-color: $beige;
}

.white {
  background-color: white;
}

.grey {
  background-color: grey;
}

.gradient-pink {
  background: linear-gradient(rgba(255,255,255,0), rgb(234,82,111));
}

.gradient-white {
  background: linear-gradient(rgba(255,255,255,0), rgb(255,255,255));
}

.darkgrey-text {
  color: darkgrey;
}

.navbar-toggler {
border: none;
}

.white-text {
  color: white;
}
