// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: black;
  }
  p{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: black;
  }

  a {
    transition: all 0.3s ease 0s;
    color: white;
  }
  a:hover {
    text-decoration: none;
    opacity: 0.75;
    color: white;
  }
}

.header-section {
  margin: 50px 8vw;
}

.main-section {
  margin: 10px 8vw;
  display: flex;
  flex-direction: column;
}

.limit-screen-height{
  height: 80vh;
  overflow: scroll;
}

.full-screen-height {
  height: 100vh;
}

.emerald {
  background-color: $emerald;
}

.pink {
  background-color: $pink;
}

.orange {
  background-color: $orange;
}

.beige {
  background-color: $beige;
}


